name: Backend CI/CD

on:
  push:
    branches: [ "master" ]
    paths:
      - "backend/**"
  pull_request:
     paths:
       - "backend/**"
  workflow_dispatch:

  
concurrency:
  group: backend-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
          cache: true

      - run: go test ./...
      - run: go vet ./...

      - uses: golangci/golangci-lint-action@v6
        with:
          version: v1.60.0
          working-directory: backend

      - name: Build lambda binary
        run: |
           GOOS=linux GOARCH=amd64 go build -o bootstrap ./cmd/lambda
           zip function.zip bootstrap

      - uses: actions/upload-artifact@v4
        with:
          name: lambda-zip
          path: backend/function.zip
  deploy:
    if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
    needs: ci
    runs-on: ubuntu-latest
    environment: production
    permissions: 
      id-token: write
      contents: read
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: lambda-zip

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME_BACKEND }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to Lambda
        run: |
          aws lambda update-function-code \
            --function-name "${{ secrets.LAMBDA_FUNCTION_NAME }}" \
            --zip-file fileb://function.zip

